RewriteEngine On

# /images/* direkt izin ver
RewriteCond %{REQUEST_URI} ^/images/
RewriteRule .* - [L]

# index.html özel kalsın
RewriteRule ^$ index.html [L]

# .html uzantısını gizle
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ pages/$1.html [L]

# direkt .html girildiyse yönlendir (.html -> uzantısız)
RewriteCond %{THE_REQUEST} \s/([^/]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]
