:80 {
    root * /srv
    file_server

    # /images/* doğrudan
    handle_path /images/* {
        file_server
    }

    # Ana sayfa
    handle_path / {
        try_files /index.html
    }

    # .html gizleme ve /pages fallback
    handle_path /* {
        try_files /pages/{path}.html /index.html
    }

    # .html girilirse redirect
    @html path_regexp html ^/(.+)\.html$
    redir @html /{re.html.1} 301
}
